html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}

.cover{
    margin-top: 250px;
}

.text{
    padding-right: 50px;
}
.text__title{
    color: #1877f2;
    font-size: 70px;
    margin-bottom: 0;
}

.text__help{
    font-size: 30px;
    margin-top: 5px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding:  40px 0;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 3px 0px 9px #ccc;
}

.form__login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user, .password{
    padding: 10px 10px;
    width: 300px;
    outline: #1877f2;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}

.button-login{
    background-color:#1877f2;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.form__login a{
    text-decoration: none;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    color: #1877f2;
}

.decoration{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: relative;
    bottom: -20px;
}

.button-create{
    background-color:#42b72a;
    color: #fff;
    font-weight: 600;
    padding: 10px 10px;
    max-width: 160px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.text-last{
    margin-left: 50%;
}

.text-last a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
.button-login a,
.button-create a{
    color: #fff;

}